In [13]:
a="welcome to cybrom"
print(max(a))
print(min(a))
print(len(a))

y

17

In [22]:
print(a.upper())
print(a.title())
print(a.capitalize())
print(a.count(" "))
print(a.find("b"))
print(a.index("b",2))

WELCOME TO CYBROM
Welcome To Cybrom
Welcome to cybrom
2
13
13

In [29]:
print(a.isdigit())
b="123"
print(b.isdigit())
print(a.isalpha())
print(b.isalnum())

False
True
False
True

In [38]:
a="welcom#@e23to87ci//ty90oflake"
alpha=0
digit=0
special=0
for i in a:
    if i.isalpha():
        alpha+=1
    elif i.isdigit():
        digit+=1
    else:
        special+=1
        
print("alpha", alpha, "digit",digit,"special",special)

alpha 19 digit 6 special 4

In [7]:
a = "welcome to city of lakes"
print(a.find("o"))
##find gives first occurance of the substirng 

print(a.find("z"))
print(a.index("o"))
##index gives index of any perticuar

###diffrent btw index and find is ,when value not found index returns error whereas find returns "-1".

4
-1
4

In [49]:
print(a.count("e"))
print(a.replace("e","a",1)) 
##(variable.replace("what to replace", "by what its replaced", how many replaced form the start))

0
This is string.

In [50]:
a= "This is string."
print(a.find("i"))
print(a.index("i"))
print(a.index("i", 3))
print(a.index("i", 6))

2
2
5
11

In [51]:
print(a.count("i"))

3

In [53]:
b=a.split()
print(b)

['This', 'is', 'string.']

In [54]:
print(" ".join(b))

This is string.

In [55]:
print(a.replace("is","is not"))

This not is not string.

In [58]:
a = ["a","b","A","z",","]
print(max(a))
print(min(a))

z
,

In [60]:
l=["hello","j"]
print(sum(l))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
l=[2,3,4]
print(sum(l))

9

In [2]:
l=[10,20,30,40,40,40]
print(l.pop(3))
print(l)

40
[10, 20, 30, 40, 40]

In [3]:
l=[10,20,30,40,40,40]
l.remove(40)
print(l)

[10, 20, 30, 40, 40]

In [4]:
l=[10,20,30,40,40,40]
l.clear()
print(l)

[]

In [7]:
l=[10,20,30,40,40,40]
del l[0]
print(l)

[20, 30, 40, 40, 40]

POP:- removes elemet by indexing, can print while removing, if no parameter is passed then it removes last element of the list.

Del:- element can not be printed/return while deleting the element.

REMOVE:- element can only be removed using its value i:e "string" 'INT'.

CLEAR:- its deletes the whole list, returning an empty list.

Stack:- It is a linear data structure.
        "last in first out."

ZIP:- zip function itraters two list at the same time 
if one list is shorter than another then ittration will only ittrate till shorter list ends.

In [1]:
#zip function
l1=[20,30,40,50,60,70]
l2=[1,2,3,4,5,6]

for i,j in zip(l1,l2):
    print(i,j)

20 1
30 2
40 3
50 4
60 5
70 6