# EDA

Exploratory Data Analysis

Inspect|Clean|Transform|Analysis/Modling

1) serise-One dimensional 
2) Data Frame-Two dimensional
3) Panel-Three Dimensional

File Type
Excel,.sql,csv,xml,json,pauquet.

In [3]:
import pandas as pd
l=[1,2,3,4]
s=pd.Series(l)
print(s)

0    1
1    2
2    3
3    4
dtype: int64

In [12]:
import pandas as pd
l=[1,2,3,4]
s=pd.Series(l,index=["a","b","c","d"],dtype="float")
print(s)
print(type(s))

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64
<class 'pandas.core.series.Series'>

In [17]:
import pandas as pd
d={"l1":[1,2,3,4],"l2":[5,6,7,8]}
s=pd.Series(d)
s1=pd.DataFrame(d)
print(s)
print(s1)

l1    [1, 2, 3, 4]
l2    [5, 6, 7, 8]
dtype: object
   l1  l2
0   1   5
1   2   6
2   3   7
3   4   8

In [15]:
s1=pd.Series([1,2,3,5])
s2=pd.Series([5,6])
print(s1+s2)

0    6.0
1    8.0
2    NaN
3    NaN
dtype: float64

In [30]:
disc={
    "name":["a","b","c"],
    "city":["bpl","ind","gwl"]
}
df=pd.DataFrame(disc)
print(df)
print()
print(df["name"])
print()
print(df["name"][1:3])

  name city
0    a  bpl
1    b  ind
2    c  gwl

0    a
1    b
2    c
Name: name, dtype: object

1    b
2    c
Name: name, dtype: object

df=file location

df.head

df.tail

df.describe

df.info

In [3]:
import pandas as pd
desc={
    "name":["Abc","Def","Efg"],
    "Age":[21,22,23]
}
df=pd.DataFrame(desc)
print(df)

  name  Age
0  Abc   21
1  Def   22
2  Efg   23

In [4]:
df.to_csv("D:\Cybrom\Python\Pandas\data.csv")

In [5]:
df.to_csv("data.csv")