# Touples
a type of data structure that is very similar to lists.

It is immutable

In [6]:
t=(10,20,40,30,50)

#sum
print(sum(t))

#min
print(min(t))

#max
print(max(t))

#sorted
print(sorted(t))
print(sorted(t,reverse=True))

150
10
50
[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

# methods of touple


index-- syntax touple.index(element,occurance)

count-- syntax touple.count(element)

In [10]:
t=(10,20,30,40,50,10)

print(t.index(10))

print(t.index(10,1))

print(t.count(10))

0
5
2

In [26]:
t=(10,20,(34,"hello",(23,100),20,40),"cybrom")
print(t[2][2][1])
print(t[3])

100
cybrom

In [30]:
t=(45,45,45,45)
print(all(t))

True

In [1]:
t=(45,45,45,45)
c=0
for i in range(len(t)):
    for j in range(i+1,len(t)):
        if t[i]!=t[j]:
            
            c=c+1
if c==0:
    print("True")
else:
    print("False")

True

In [44]:
t=(50,)
print(type(t))

<class 'tuple'>

In [46]:
t=(10,20,40)
t1=(20,60,89)
print(t+t1)

(10, 20, 40, 20, 60, 89)